body {
    background-color: peachpuff;
    margin: 10px;
}
.container div {
display: flex;
justify-content: center;
align-items: center;
font-size: 2em;
}
.container div:nth-child(even) {
    background-color: blueviolet;
}
.container div:nth-child(odd) {
    background-color: plum;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 200px;
    grid-gap: 3px;
}