nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue; }

nav li {
  float: left; }
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial;
    font-size: 1rem;
    font-weight: bold; }
  nav li a:hover {
    background-color: purple; }

.paragraph {
  font-family: arial;
  font-size: 1rem;
  font-weight: normal; }
